section {
	width: 800px;
	margin: 100px auto;
}
section p {
	font: 16px 'Open Sans';
	color: #454547;
	text-align: center;
}
section h1 {
	font: 32px 'Open Sans';
	font-weight: bold;
	text-align: center;
}
section img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}